/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  color: #f9f7f7;
}

/* Photo Form Styles */
.photo-form {
  background-color: #281010;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo-form input,
.photo-form button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.photo-form input {
  outline: none;
}

.photo-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
}

.photo-form button:hover {
  background-color: #45a049;
}

/* Photo Card Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.photo-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.photo-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.buttons button {
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:first-child {
  background-color: #4CAF50;
  color: white;
}

.buttons button:first-child:hover {
  background-color: #45a049;
}

.buttons button:last-child {
  background-color: #f44336;
  color: white;
}

.buttons button:last-child:hover {
  background-color: #d32f2f;
}
